:root {

    /* --- MAIN COLORS --- */
    --color-primary: #2E7AFF;
    --color-secondary: #98B9E5;
    --color-white: #F0F0F0;


    /* --- FONT STACK --- */
    --font-main: 'Huninn', sans-serif;
}

header,
footer {
    color: var(--color-secondary);
    background: var(--color-primary);
}

a {
    text-decoration: none;
}